.button {
  cursor: pointer;
  background: #1976D2;
  border-radius: 16px;
  width: 105px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;

  > h4 {
    letter-spacing: 0.25px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1rem;
  }
}

