.block {
  padding: 0 1rem;
  font-family: Roboto;
}

.lineButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linePagination {
  margin-top: 1rem;
  margin-bottom: 0.4375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom{
  margin-bottom: 2.68rem;
}