.header {
  display: flex;
  padding: 1rem 1.18rem 1rem 0.562rem;
  justify-content: space-between;
  font-size: 1.0625rem;
  color: var(--blackprimary);
  margin-bottom: 0.5625rem;
  line-height: 1.5rem;
  
  > img {
    cursor: pointer;
  }

  > div {
    display: flex;
    gap: 1rem;

    > img {
      cursor: pointer;
    }
  }
}